@import font-awesome.min.css;

body {
    overflow:hidden;
    overflow-y: scroll;
}

/**/
._content-container-omnistory {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    z-index: 5;
    font-family: noto, roboto, helvetica;
    margin-bottom: 50px;
    line-height: 1.6;
}
._title-of-timeline{
    font-size: 3em;
}


/* animations for expanding and collapsing */
@-webkit-keyframes expand_animation {
    0% {
        -ms-transform: rotate(0); /* IE 9 */
        -webkit-transform: rotate(0); /* Chrome, Safari, Opera */
    }
    100% {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    }
}
@keyframes expand_animation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}
@-webkit-keyframes collapse_animation {
    0% {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    }
    100% {
        -ms-transform: rotate(0); /* IE 9 */
        -webkit-transform: rotate(0); /* Chrome, Safari, Opera */
    }
}

@keyframes collapse_animation {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0);
    }
}
/* animations for expanding and collapsing */


._expand-control,
._collapse-control {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
._expand-control {
    -webkit-animation-name: expand_animation;
    animation-name: expand_animation;
}
._collapse-control {
    -webkit-animation-name: collapse_animation;
    animation-name: collapse_animation;
}

/* fade out active event */
@-webkit-keyframes fadeInActiveWebLeft {
    0% {
       opacity: 0;
        -webkit-transform: translateX(120%);
    }
    100% {
       opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeInActiveLeft {
    0% {
       opacity: 0;
       transform: translateX(120%);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}
@-webkit-keyframes fadeInActiveWebRight {
    0% {
       opacity: 1;
        -webkit-transform: translateX(0);
    }
    100% {
       opacity: 0;
        -webkit-transform: translateX(120%);
    }
}

@keyframes fadeInActiveRight {
    0% {
       opacity: 1;
       transform: translateX(0);
    }
    100% {
       opacity: 0;
       transform: translateX(120%);
    }
}
/* fade out active event */
/* fade out active event */
@-webkit-keyframes fadeOutActiveWebLeft {
    0% {
       opacity: 1;
        -webkit-transform: translateX(0);
    }
    100% {
       opacity: 0;
        -webkit-transform: translateX(-120%);
    }
}

@keyframes fadeOutActiveLeft {
    0% {
       opacity: 1;
       transform: translateX(0);
    }
    100% {
       opacity: 0;
       transform: translateX(-120%);
    }
}
@-webkit-keyframes fadeOutActiveWebRight {
    0% {
       opacity: 0;
        -webkit-transform: translateX(-120%);
    }
    100% {
       opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeOutActiveRight {
    0% {
       opacity: 0;
       transform: translateX(-120%);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}

._animated-out-right, ._animated-out-left, ._animated-in-left, ._animated-in-right {
    -webkit-animation-duration: 0.86s;
    animation-duration: 0.86s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

._animated-in-left {
    -webkit-animation-name: fadeInActiveWebLeft;
    animation-name: fadeInActiveLeft;
}
._animated-in-right {
    -webkit-animation-name: fadeInActiveWebRight;
    animation-name: fadeInActiveRight;
}
._animated-out-left {
    -webkit-animation-name: fadeOutActiveWebLeft;
    animation-name: fadeOutActiveLeft;
}
._animated-out-right {
    -webkit-animation-name: fadeOutActiveWebRight;
    animation-name: fadeOutActiveRight;
}
/* fade out active event */


._line {
    z-index: -5;
    position:relative;
    margin:30px auto;
    width:90%;
    height:10px;
    background-color:black;
}
._axis {
    position: relative;
    margin-top: -115px;
    width: 100%;
    height: 100px;
    z-index: -1;
}
._axisMajor{
    position:absolute;
    height:30px;
    width:10px;
    /*left: 15px;*/
    background-color:black;
    top: 35px;
}
._axisMinor {
    position:absolute;
    height:20px;
    width:5px;
    background-color:black;
    top: 5px;
}
._axisMinor._hidden {
    display:none;
}
._YearMajor,
._YearMinor {
    font-size: 1em;
    margin-top: 32px;
    margin-left: -12px;
}
._YearMinor {
    margin-left: -5px;
    margin-top: 20px;
    font-size: 0.8em;
    color:grey;
}





._different-opinions {
    height:65px;
    margin: 0 auto;
    text-align: center;
}
._key-colors{
    display:inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -moz-box-shadow:    0 1px 6px #000000;
    -webkit-box-shadow: 0 1px 6px #000000;
    box-shadow:         0 1px 6px #000000;
}
._inner-info-container {
    width: 90%;
    height: auto;
    border: 1px solid rgba(0,0,0,0.5);
}
._inner-info-title-container {
    padding: 5px;
}
._inner-info-title {
    font-size: 1.5em;
    margin: 0 auto;
    color: #FFFFFF;
    text-shadow: 1px 1px #000000;
    padding-left: 10%;
}
h3._side-fact,
h3._side-opinion{
    display: inline-block;
}
.fa {
    font-size: 3em;
    color:white;
    display:inline;
    float:left;
}
._control-section {
    width: 100%;
    height: 48px;
    text-align:center;
}
._inner-info-date,
._inner-info-facts,
._inner-info-facts,
._inner-info-opinion {
    width: 95%;
    word-wrap: normal;
    font-size: 0.8em;
}
._inner-facts,
._inner-title-facts{
    padding-left: 25px;
}

@keyframes openSameYear {
    0% {
        top:0;
        width: 0;
        background-color: rgba(0,0,0,0);
    }
    100% {
        top: -30px;
        width: 30px;
        background-color: rgba(0,0,0,0.3);
    }
}
._eventSection._clicked {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: openSameYear;

    position: absolute;
    top: -20px;
    width: 30px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 40px;
    -moz-box-shadow:    0 3px 7px #000000;
    -webkit-box-shadow: 0 3px 7px #000000;
    box-shadow:         0 3px 7px #000000;
}

@keyframes closeEventBubble {
    0% {
        border-right: 2px dotted rgba(0,0,0,0);
    }
    100% {
        border-right: 2px dotted rgba(0,0,0,1);
    }
}

._closingEverything:before{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: closeEventBubble;
}
._eventSection._clicked ._event._event-in-section::before {
    border:none;
}
._events {
    position: absolute;
}

._event {
    width: 18px;
    height: 18px;
    top:0;
    background-color: black;
    border-radius: 50%;
    position: absolute;
}
._eventSection ._event._event-in-section {
    border-radius:0;
}
._eventSection._clicked ._event._event-in-section {
    border-radius:50%;
}
._event._active {
    width: 22px;
    height: 22px;
    left: 34px;
}
._event::before {
    padding-top: 45px;
    margin-left: 8px;
    content: "";
    border-right: 2px dotted black;
    position: absolute;
    z-index: -1;
}
._event._active::before {
    margin-left: 10px;
}
._fa-caret-right,
._fa-caret-left{
    color: black;
    text-shadow: 0 1px 5px #000000;
}
._fa-caret-left {
    left: -5%;
}
._fa-caret-right {
    left: 104%;
}
.title-icon {
    display:inline-block;
    width: 50px;
    color:black;
    margin: 8px;
    margin-left: 5%;
    margin-top: 16px;
}
.title-icon._active {
    display:none;
}
.title-icon-after {
    display: none;
}
.title-icon-after._active {
    display:inline-block;
    width: 50px;
    color:#CD2020;
    margin: 8px;
    margin-left: 5%;
    margin-top: 16px;
}
#_axis {
    cursor: all-scroll;
}
._event,
._event-title,
._expandControl,
._stakeholder{
    cursor: pointer;
}
._inner-facts,
._inner-title-facts,
._inner-info-title{
    cursor: text;
}
._inner-info-container._active-event {
    cursor: default;
    margin: 0 auto;
}
.fa.fa-info-circle,
.fa.fa-commenting-o{
    font-size: 1.7em;
    padding: 1%;
}
._axis-container {
    position: relative;
    z-index: -1;
    width: 100%;
    margin-top: 60px;
}
._title-of-timeline {
    display: inline;
}

._event-title.fa-circle,
._event-title.fa-circle-o {
    font-size: 2em;
}
._title-section {
    text-align:center;
}
._stakeholder {
    display:inline-block;
    padding: 0 1%;
}
._right-control,
._left-control{
    display:inline-block;
    height: 37px;
}
._left-control {
    margin-right: 10%;
}
._right-control {
    margin-left: 10%;
}
._inner-info-date,
._inner-info-facts,
._inner-info-opinion {
    margin: 0;
    padding: 10px;
}
._inner-facts {
    padding: 10px;
}
._expandControl {
    margin-left: 47.9%;
    background-color: rgba(0,0,0,0.5);
    padding: 4px 8px;
    border-radius: 50%;
    color: #FFFFFF;
    text-shadow: 1px 1px #000000;
    font-size: 2em;
    -moz-box-shadow:    0 0 5px #000000;
    -webkit-box-shadow: 0 0 5px #000000;
    box-shadow:         0 0 5px #000000;
}
._left-control._timeline-closed,
._right-control._timeline-closed,
._inner-info-container._timeline-closed{
    display: none;
}
@media only screen and (max-width: 466px) {
    ._right-control {
        margin-left: 2%;
    }
    ._left-control {
        margin-right: 2%;
    }
}
@media only screen and (max-width: 466px) {
    ._key-label1, ._key-label2 {
        margin-left: 0;
    }
}
._slide-img-caption {
    position:absolute;
    margin:0;
    background-color: rgba(0,0,0,0.5);
    color:#FFFFFF;
    font-size: 0.2em;
    line-height: 1em;
    text-shadow: 1px 1px #000000;
}
._slide-img {
    width:20%;
    float:left;
    margin-right: 20px;
    float: left;
    padding-bottom: 15px;
}
._inner-facts,
._inner-title-facts {
    font-family:roboto;
}

/* click animation css */
.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
  z-index: 100;
}
.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
